body {
    background-color: #629584; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Julius Sans One', sans-serif;
}

.sign-up-container {
    background-color: #D9D9D9; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    text-align: center;
}

.sign-up-container img {
    max-width: 100px; 
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h5 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 20px;
}

.form-group input[type="submit"] {
    background-color: #629584;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.form-group input[type="submit"]:hover {
    background-color: #507d66;
}

p {
    margin-top: 20px;
    color: #333;
}

p a {
    color: #629584;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}


.form-group-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

.form-group-container .form-group {
    width: 48%; 
}